@import "@coreui/coreui-pro/scss/coreui";

$enable-ltr: true; /* stylelint-disable-line scss/dollar-variable-default */
$enable-rtl: true; /* stylelint-disable-line scss/dollar-variable-default */

#admin-body {
  position: relative;

  .wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    will-change: auto;
    @include transition(padding 0.15s);
  }

  .sidebar-nav::-webkit-scrollbar {
    display: none;
  }

  .breadcrumb-item {
    color: var(--cui-header-color);
  }

  .sidebar-brand {
    padding: 15px;
  }

  #product{
    .form-multi-select{
      padding: 0;
    }
    
    .form-multi-select-tag-delete::before{
      top: -5px;
    }
  
    .form-multi-select-search {
      margin-left: 0px;
    }
    
    .form-multi-select-selection{
      padding: var(--cui-form-multi-select-selection-tags-padding-y) var(--cui-form-multi-select-selection-tags-padding-x);
      padding-right: var(--cui-form-multi-select-indicator-padding);
    }
  }
}
