.horizontal-scroll-wrapper {
  display: flex;
  width: max-content;
  height: 100dvh;
}

.panel {
  height: 100dvh;
  width: 100vw;
  position: relative;
}

.section-1 {
  background: red;
}

.section-2 {
  background: blue;
}

.section-3 {
  background: green;
}
