#page-events {
    min-height: 100dvh;
    padding-bottom: 100px;

    .title-img {
        text-align: center;
        margin: 20px 0px;
        display: inline-block;
        max-width: 80%;
    }
}
