#complete {
    min-height: 80vh;
    background-color: #FCFBF9;
    font-family: "RecklessNeue-Light";

    // padding: 0px 30px;
    @media (max-width: 767px) {
        min-height: auto;
        padding: 30px 0 90px 0;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 180px;

        @media (max-width: 767px) {
            padding-top: 0px;
        }

        .complete-wrapper {
            width: 100%;
            margin-top: 40px;

            @media (max-width: 767px) {
                margin-top: 0px;
            }

            .complete-content-wrapper {
                .complete-content-container {
                    .complete-banner {
                        position: relative;
                        // width: 100%;
                        // background-image: url("/assets/img/complete/banner_with_text.png");
                        // min-height: 30vh;
                        // background-size: 100% auto;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        margin-bottom: 60px;

                        @media (max-width: 767px) {
                            margin-bottom: 20px;
                            // background-size: contain;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .order-details-title {
                        font-size: 15px;
                        color: #6D5E44;
                        font-size: 20px;
                        margin-bottom: 5px;
                    }

                    .giveaway-desc {
                        background-color: #F7F3EE;
                        color: #9A835E;
                    }

                    .dividing-line {
                        margin: 50px 0;

                        @media (max-width: 767px) {
                            margin: 20px 0;
                        }
                    }

                    .cart-item-list {
                        width: 100%;
                        margin-top: 10px;
                        tbody {
                            width: 100%;
                            display: inline-table;

                            th {
                                color: #6D5E44;
                                padding: 30px 0;
                                font-family: "RecklessNeue-Medium";
                            }

                            th:not(:first-child) {
                                text-align: center;
                            }

                            tr {
                                td:first-child {
                                    padding: 10px 10px 10px 0px;
                                }

                                td:not(:first-child) {
                                    text-align: center;
                                    padding: 10px;
                                    font-weight: bold;
                                }
                            }

                            img {
                                height: 125px;
                                width: 100px;
                                object-fit: cover;
                            }


                            .product-desc {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                padding: 0px 20px;
                                font-size: 13px;
                            }

                            .unit-price,
                            .total-price {
                                font-family: "RecklessNeue-Medium";
                            }

                            .quantity-wrapper {
                                font-family: "RecklessNeue-Medium";

                                .quantity-text {
                                    width: 20%;
                                    border: none;
                                    text-align: center;
                                    color: #6B5B41;

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .remove-button {
                                border: none;
                                background: transparent;
                                height: 30px;
                                width: 30px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                img {
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }

                            .giveaway-desc {
                                margin-top: 40px;
                                padding: 5px 20px;
                            }
                        }
                    }

                    .mobile-cart-item-list {
                        font-size: 13px;

                        img {
                            height: 15vh;
                            margin-right: 10px;
                        }

                        .cart-item-wrapper {
                            padding: 20px 0;

                            &:not(:last-child) {
                                border-bottom: 1px solid #6D5E44;
                            }
                        }

                        .giveaway-desc {
                            margin-top: 20px;
                            padding: 5px 10px;
                        }

                        .cart-item-details {
                            .product-desc {
                                text-align: left;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                max-height: 3em;
                                /* Adjust as needed */
                            }

                            .product-price {
                                .label {
                                    color: #6D5E44;
                                    margin-right: 10px;
                                }

                                // .data {
                                //     font-family: "RecklessNeue-Medium";
                                // }
                            }

                            .product-price-wrapper {
                                .quantity-wrapper {
                                    font-family: "RecklessNeue-Medium";

                                    .action-button {
                                        border: 1px solid #9A835E;
                                        background: transparent;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        height: 20px;
                                        width: 20px;
                                        position: relative;

                                        img {
                                            width: 60%;
                                            height: 10px;
                                            object-fit: contain;
                                            top: 50%;
                                            left: 50%;
                                            position: absolute;
                                            transform: translate(-50%, -50%);
                                        }
                                    }

                                    .action-button.plus {
                                        border: 1px solid black;
                                    }

                                    .label {
                                        color: #6D5E44;
                                        margin-right: 10px;
                                        font-family: "RecklessNeue-Light";
                                    }

                                    .quantity-text {
                                        width: 10%;
                                        border: none;
                                        text-align: center;

                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                }

                                .total-wrapper {
                                    .label {
                                        color: #6D5E44;
                                        margin-right: 10px;
                                    }

                                    .data {
                                        font-family: "RecklessNeue-Medium";
                                    }
                                }
                            }

                        }
                    }


                    .order-details-wrapper {
                        font-family: "RecklessNeue-Medium";

                        .subtotal,
                        .discount,
                        .coupon,
                        .point-redemption,
                        .checkout,
                        .shipping-fee,
                        .shipping-fee-inner {
                            font-size: 15px;
                            margin-bottom: 20px;
                            color: #6D5E44;
                        }

                        .shipping-fee {
                            margin-bottom: 10px;
                        }

                        .total{
                            font-size: 17px;
                            margin-bottom: 20px;
                            color: #6D5E44;
                        }

                        .data-content-wrapper {
                            width: 100%;

                            .inner-label {
                                // color: #6D5E44;
                                font-family: "RecklessNeue-Light";
                                margin-left: 15px;

                            }
                        }
                    }
                }


                .order-received-summary {
                    background-color: #F7F3EE;
                    padding: 20px 30px;
                    margin-left: 10px;
                    color: #6D5E44;
                    font-family: "RecklessNeue-Medium";

                    @media (max-width: 991px) {
                        margin-left: auto;
                    }

                    .order-received-title {
                        font-size: 20px;
                        margin-bottom: 15px;
                    }

                    .order-no {
                        color: #9A835E;
                        margin-bottom: 15px;
                    }

                    .payment-method-wrapper {
                        margin-bottom: 15px;

                        .payment-method-title {
                            white-space: nowrap;
                        }

                        .payment-method {
                            margin-left: 10px;
                        }
                    }

                    .order-received-desc {
                        background-color: #FCFBF9;
                        font-size: 13px;
                        padding: 10px;
                        margin-bottom: 15px;

                        div {
                            margin-bottom: 10px;
                        }
                    }

                    .our-details-wrapper {
                        font-size: 13px;
                        margin: 20px 0;

                        div {
                            margin-bottom: 7px;
                        }

                        .alipay-desc {
                            margin-top: 10px;
                        }
                    }

                }
            }

        }
    }

    .continue-shopping-product {
        background: #F1EDE3;
        padding: 80px 0px 50px 0px;

        @media (max-width: 1024px) {
            padding: 50px 0px 0px 0px;
        }

        @media (max-width: 767px) {
            padding: 50px 0px 20px 0px;
        }

        .product-description {
            text-align: left;
            font-size: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: "RecklessNeue-Medium";
            color: #6B5B41;

            @media (max-width: 1024px) {
                font-size: 14px;
                padding-top: 0px;
            }

            @media (max-width: 767px) {
                font-size: 15px;
                padding-top: 0px;
            }
        }

        .product-price {
            font-size: 16px;
            font-family: "RecklessNeue-Medium";
            color: #6B5B41;

            @media (max-width: 1024px) {}

            @media (max-width: 767px) {
                font-size: 21px;
                padding-top: 0px
            }
        }

        .title-new {
            color: #6B5B41;
            font-family: "RecklessNeue-Light";
            font-size: 30px;
            width: 100%;
            text-align: center;
            padding-bottom: 50px;

            @media (max-width: 767px) {
                font-size: 28px;
                width: unset;
            }
        }

        .wishlist-cart-container img.wishlist-hide,
        .wishlist-cart-container img.wishlist-hover-show,
        .wishlist-cart-container img.cart-hide,
        .wishlist-cart-container img.cart-hover-show {
            width: 62px;

            @media (max-width: 1500px) {
                width: 38px;
            }
        }

        .wishlist-cart-container img.wishlist-hide,
        .wishlist-cart-container img.wishlist-hover-show {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .wishlist-cart-container img.cart-hide,
        .wishlist-cart-container img.cart-hover-show {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .wishlist-cart-container {
            transition: all 0.3s linear;
            position: absolute;
            opacity: 0;
            bottom: 0;
            left: 0;
            right: 0;

            @media (max-width: 1024px) {
                display: none;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        .product-image{
            overflow: hidden;
            img.show{
                clip-path: ellipse(100% 100% at 50% 50%);
                transition: clip-path 0.5s, transform 0.3s ease-in-out;
                height: 470px;
                object-fit: cover;
                width: 100%;
            }

            @media (min-width: 1201px) and (max-width: 1500px){
                img.show{
                    height: 360px;  
                }
            }

            @media (min-width: 768px) and (max-width: 1200px){
                img.show{
                    height: 268px;  
                }
            }

            @media (max-width: 767px){
                img.show{
                    height: 30vh;  
                }
            }
        }

        .product-image:hover {
            img.show {
                clip-path: ellipse(45% 41% at 50% 50%);
                transform: scale(1.2);
                transform-origin: center center;
            }
            
            .wishlist-cart-container {
                position: absolute;
                opacity: 1;
                bottom: 35px;

                @media (max-width: 1024px) {
                    display: none;
                }

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        .wishlist-container {
            position: relative;
            text-align: right;
            cursor: pointer;
        }

        .wishlist-hover-show {
            transition: opacity 0.3s ease;
            position: relative;
            opacity: 0;
        }

        .wishlist-container:hover .wishlist-hide {
            opacity: 0;
        }

        .wishlist-container:hover .wishlist-hover-show {
            opacity: 1;
        }

        .cart-container {
            position: relative;
            text-align: left;
            cursor: pointer;
        }

        .cart-hover-show {
            transition: opacity 0.3s ease;
            position: relative;
            opacity: 0;
        }

        .cart-container:hover .cart-hide {
            opacity: 0;
        }

        .cart-container:hover .cart-hover-show {
            opacity: 1;
        }


        //rating-wishlist
        .product-info .rating-wishlist {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-top: 10px;

            @media (max-width: 1024px) {
                justify-content: space-between;
            }

            img.star-rating {
                width: 20px;

                &:not(:first-child){
                    margin-left: 0.5rem;
                }

                @media only screen and (max-width: 1024px) {
                    &:not(:first-child){
                        margin-left: 0;
                    }
                }

                @media only screen and (max-width:320px){
                    width: 17px;
                }
                
                height: auto;
            }

            img.wishlist-mobile, img.wishlist-mobile-added {
                display: none;

                @media (max-width: 1024px) {
                    width: 40px;
                    display: block;
                }

                @media (max-width: 767px) {
                    width: 40px;
                    display: block;
                }
            }
        }

        //price-cart
        .product-info .price-cart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            img.cart-mobile {
                display: none;

                @media (max-width: 1024px) {
                    width: 40px;
                    display: block;
                }

                @media (max-width: 767px) {
                    width: 40px;
                    display: block;
                }
            }
        }


    }

    //carousel
    .carousel-indicators button {
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }

    .carousel-indicators [data-bs-target] {
        background-color: #6B5B41;
        width: 5px;
        height: 5px;
    }


    //swiper
    .swiper.mySwiper-1 {
        padding-top: 50px
    }

    .swiper-slide {
        word-wrap: normal;
        word-wrap: break-word;
        overflow: hidden;
        padding-bottom: 50px;

        @media (max-width: 767px) {
            padding-left: 15px;
        }
    }

    .swiper-slide.promotion-img img,
    .swiper-slide.product-img img,
    .swiper-slide.new-launches-product-img img,
    .swiper-slide.brand-img img {
        max-width: 100%;
        height: auto;
        transition: clip-path 0.5s ease-in-out, opacity 0.4s ease-in-out;
    }

    .swiper-slide.product-img a {
        text-decoration: none;
    }

    //buttons animation
    .discover-button button.btn.btn-primary,
    .explore-button button.btn.btn-primary,
    .more-button button.btn.btn-primary {
        --bs-btn-padding-y: 14px;
        --bs-btn-font-size: 10px;
        width: 180px;
        border-radius: 40px;
        background: #F1EDE3;
        background: linear-gradient(to left, #F1EDE3 50%, #6B5B41 50%) right;
        background-size: 200%;
        transition: 0.3s ease-out;
        border-color: #6B5B41;
        color: #6B5B41;
        font-family: "RecklessNeue-Medium";
        font-size: 15px;

        @media (max-width: 767px) {
            width: 200px;
            height: 75px;
        }
    }

    .discover-button button.btn.btn-primary:hover,
    .explore-button button.btn.btn-primary:hover,
    .more-button button.btn.btn-primary:hover {
        color: #F1EDE3;
        background-position: left;
        border-radius: 40px;

        @media (max-width: 767px) {
            width: 200px;
            height: 75px;
        }
    }


    //diffrent color same function as above
    .discover-button button.btn.btn-primary#discover-now,
    .explore-button button.btn.btn-primary#explore-now,
    .more-button button.btn.btn-primary#blog-view-more {
        background: #FCFBF9;
        background: linear-gradient(to left, #FCFBF9 50%, #6B5B41 50%) right;
        background-size: 200%;
        transition: 0.3s ease-out;
        border-color: #6B5B41;
        border-radius: 20px;
        color: #6B5B41;
        border-radius: 40px;
        font-family: "RecklessNeue-Medium";

        @media (max-width: 767px) {
            width: 200px;
            height: 75px;
        }
    }

    .discover-button button.btn.btn-primary#discover-now:hover,
    .explore-button button.btn.btn-primary#explore-now:hover,
    .more-button button.btn.btn-primary#blog-view-more:hover {
        color: #FCFBF9;
        background-position: left;
        border-radius: 40px;

        @media (max-width: 767px) {
            width: 200px;
            height: 75px;
        }
    }
}