#shopping_cart_empty{
    min-height: 80vh;
    background-color: #FCFBF9;
    padding: 30px 0 180px 0;
    font-family: "RecklessNeue-Light";

    .shopping-cart-wrapper{
        width:100%;
        max-width: 750px;

        .shopping-cart-title{
            color:#6B5B41;
            font-size: 30px;
            text-align: center;
            margin-bottom: 40px;
        }
        .shopping-cart-empty-container{
            min-height: 40vh;
            background-color: #F7F3EE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}