body.modal-open:has(#shopping_cart) .modal-backdrop{
    display: none !important;
}

#shopping_cart{
    min-height: 80vh;
    background-color: #FCFBF9;
    padding: 30px 0 180px 0;
    font-family: "RecklessNeue-Light";
    font-size: 15px;
    @media (max-width: 767px) {
        min-height: auto;
    }

    .container{
        .empty-cart-content {
            background-color: #F7F3EE;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
        }

        .shopping-cart-wrapper{
            width:100%;
            .shopping-cart-title{
                color:#6D5E44;
                font-size: 30px;
                text-align: center;
                margin-bottom: 40px;
            }

            .shopping-cart-content{
                .shopping-cart-banner{
                    position: relative;

                    img{
                        width:100%;
                    }
                    .add-to-cart{
                        right:20px;
                        bottom:20px;
                        position: absolute;
                        padding: 15px 55px 12px 55px;
                    }
                }

                .add-to-cart{
                    padding: 10px 55px 7px 55px;
                    background-color: #9A835E;
                    color:white;
                    border: none;
                    font-family: 'BanglaSangam-Regular';
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-size: 13px;

                    
                    @media (max-width: 991px) {
                        position: relative;
                        width: 100%;
                        right: auto;
                        bottom: auto;
                    }
                }

                .giveaway-desc{
                    background-color: #F7F3EE;
                    color:#9A835E;
                }

                .cart-item-list{
                    width:100%;
                    margin-top: 10px;


                    th{
                        color:#6D5E44;
                        // margin: 20px 0px;;
                        padding:30px 0;
                        font-family: "RecklessNeue-Medium";
                    }

                    th:not(:first-child){
                        text-align: center;
                    }  

                    td{
                        overflow-x: hidden !important;
                    }

                    tr{

                        td:first-child{
                            padding:10px 10px 10px 0px;
                        }

                        td:not(:first-child){
                            text-align: center;
                            padding: 10px;
                            font-weight: bold;
                        }
                    }

                    img{
                        height: 125px;
                        width: 100px;
                        object-fit: cover;
                    }

                    .product-desc{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0px 20px;
                        font-size: 13px;
                    }

                    .unit-price, .total-price{
                        font-family: "RecklessNeue-Medium";
                    }

                    .quantity-wrapper{
                        font-family: "RecklessNeue-Medium";

                        .action-button{
                            border: 1px solid #9A835E;
                            background: transparent;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            height: 30px;
                            width: 30px;
                            cursor: pointer;
                            img{
                                width:100%;
                                height: 10px;
                                object-fit: contain;
                            }
                        }

                        // .action-button.plus{
                        //     border: 1px solid black;
                        // }

                        .quantity-text{
                            width:20%;
                            border:none;
                            text-align: center;
                            background: transparent;

                            &:focus{
                                outline: none;
                            }
                        }
                    }

                    .remove-button{
                        border: none;
                        background: transparent;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        // font-size: 10px;
                        img{
                            width:100%;
                            object-fit: contain;
                        }
                    }

                    .giveaway-desc{
                        margin-top: 40px;
                        padding: 5px 20px;
                    }

                }

                .mobile-cart-item-list{
                    font-size: 13px;
                    img{
                        height: 125px;
                        width: 100px;
                        object-fit: cover;
                        margin-right: 10px;
                    }

                    .cart-item-wrapper{
                        padding: 20px 0;

                        &:not(:last-child){
                            border-bottom: 1px solid #6D5E44;
                        }
                    }

                    .giveaway-desc{
                        margin-top: 20px;
                        padding: 5px 10px;
                    }

                    .cart-item-details{
                        .product-desc{
                            text-align: left;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            max-height: 3em; /* Adjust as needed */
                            width:80%;
                        }

                        .remove-button{
                            border:none;
                            width: 30px;
                            height: 30px;
                            background-color: transparent;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .product-price{
                            .label{
                                color:#6D5E44;
                                margin-right: 10px;
                            }
                            .price{
                                font-family: "RecklessNeue-Medium";
                            }
                        }

                        .product-price-wrapper{
                            .quantity-wrapper{
                                font-family: "RecklessNeue-Medium";

                                .action-button{
                                    border: 1px solid #9A835E;
                                    background: transparent;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 20px;
                                    width: 20px;
                                    position: relative;
                                    cursor: pointer;
                                    img{
                                        width:60%;
                                        height: 10px;
                                        object-fit: contain;
                                        top: 50%;
                                        left: 50%;
                                        position: absolute;
                                        transform: translate(-50%, -50%);
                                    }
                                }
        
                                // .action-button.plus{
                                //     border: 1px solid black;
                                // }
        
                                .label{
                                    color:#6D5E44;
                                    margin-right: 10px;
                                    font-family: "RecklessNeue-Light";
                                }

                                .quantity-text{
                                    width:25px;
                                    border:none;
                                    text-align: center;
                                    background: transparent;
        
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }

                            .total-wrapper{
                                .label{
                                    color:#6D5E44;
                                    margin-right: 10px;
                                }
                                .data{
                                    font-family: "RecklessNeue-Medium";
                                }
                            }
                        }

                    }
                }

                .coupon-wrapper{
                    width: 100%;
                    margin-top: 20px;
                    .coupon-text{
                        width: 100%;
                        border:none;
                        background-color: #F6F4F4;
                        padding: 10px 30px;

                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            color: #9e9e9d;
                        }
                    }
                    .coupon-button{
                        background-color: #9A835E;
                        border: none;
                        color: #FCFBF9;
                        font-family: "BanglaSangam-Regular";
                        padding: 10px 10px 7px 10px;
                        letter-spacing: 1px;
                        font-size: 13px;
                        white-space: nowrap;
                    }
                }

                .order-summary{
                    background-color: #F7F3EE;
                    padding:20px 30px;
                    margin-left:10px;
                    font-family: "RecklessNeue-Medium";
                    @media (max-width: 991px) {
                        margin-left: auto;
                    }
                    
                    .cart-title{
                        font-size:15px;
                        color: #6D5E44;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }

                    .remove-button{
                        font-size: 12px;
                    }

                    .subtotal, .discount, .coupon, .point-redemption, .checkout{
                        // font-size: 13px;
                        margin-bottom: 20px;
                        color: #6D5E44;
                    }

                    .total{
                        font-size: 17px;
                        margin-bottom: 20px;
                        color: #6D5E44;
                    }

                    .data-content-wrapper{
                        width:80%;
                        .inner-label{
                            // color:#9A835E;
                            font-size: 13px;
                            font-family: "RecklessNeue-Light";
                            margin-left: 20px;
                            margin-top: 5px;

                        }
                    }

                    .btn-remove-wrapper{
                        width: 20%;
                        button{
                            border: none;
                            background: transparent;
                            color:#9A835E;
                            padding:0 10px;
                        }
                    }
                    .checkout{
                        margin-top:40px;
                        button, a{
                            background-color: #9A835E;
                            border: none;
                            border-radius: 0;
                            color: #FCFBF9;
                            font-family: 'BanglaSangam-Regular';
                            font-size: 13px;
                            width: 100%;
                            padding: 15px 55px 12px 55px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }

        }

        .modal.fade.show {
            transform: translateY(0) !important;
        }

        .modal {
            transform: translateY(-100%) !important;
        }
        

        #loginModal{
            transition: all 800ms linear;
            // transition: transform 800ms ease-out;
            padding-right: 0px !important;

            .btn-close{
                background-image: url("/public/assets/web/assets/img/shopping_cart/remove.png");
                width: 0.8em;
                height: 0.8em;
                background-size: cover;
                // margin-right: 1px;
            }

            .modal-content{
                background-image: url("/public/assets/web/assets/img/shopping_cart/login_modal_bg.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center 80%;
            }
            .modal-header, .modal-footer{
                border:none;
                margin-top: 5px;
                margin-left:5px;
                margin-right:5px;
            }
            .modal-body{
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 50px;

                @media (max-width: 991px) {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 20px;
                }
                .desc-wrapper{
                    .cn-desc-wrapper{
                        .cn-desc{
                            width:75%;
                            font-size: 20px;
                            font-family: "ChironSungHK-Medium";
                        }
                    }
        
                    .en-desc-wrapper{
                        margin-top:15px;
                        .en-desc{
                            width:75%;
                            font-size: 13px;
                        }
                    }
                }

                .login-button{
                    margin-top: 40px;
                    background-color: #9A835E;
                    color: white;
                    width: 100%;
                    border: 1px solid #9A835E;
                    padding: 12px 0 8px 0;
                    font-size: 13px;
                    font-family: 'BanglaSangam-Regular';
                    display: flex;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: white;
                        color: #9A835E;
                    }
                }

                .register-button{
                    background-color: white;
                    color: #9A835E;
                    border: 1px solid #9A835E;
                    width: 100%;
                    padding: 12px 0 8px 0;
                    font-size: 13px;
                    font-family: 'BanglaSangam-Regular';
                    display: flex;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: #9A835E;
                        color: white;
                    }
                }
            }
        }
        // .show-modal{
        //     opacity: 1 !important;
        //     display: block !important;
        //     visibility: visible !important;

        //     @media (min-width: 768px){
        //         animation: slideDown 500ms linear forwards !important;
        //     }
            
        //     @media (max-width: 767px){
        //         animation: slideDownMobile 500ms linear forwards !important;
        //     }
        // }
        // .hide-modal {
        //     opacity: 0 !important;
        //     display: none !important;
        //     visibility: hidden !important;
            
        //     @media (min-width: 768px){
        //         animation: slideUp 500ms linear forwards !important;
        //     }
            
        //     @media (max-width: 767px){
        //         animation: slideUpMobile 500ms linear forwards !important;
        //     }
        //   }

        // @keyframes slideDown {
        //     0% {
        //       transform: translate(-50%, -100%);
        //     }
        //     100% {
        //       transform: translate(-50%, -50%);
        //     }
        //   }

        // @keyframes slideUp {
        //     0% {
        //         transform: translate(-50%, -50%);
        //     }
        //     100% {
        //         transform: translate(-50%, -100%);
        //     }
        // }

        // @keyframes slideDownMobile {
        //     0% {
        //         transform: translate(0%, -100%);
        //     }
        //     100% {
        //         transform: translate(0%, -50%);
        //     }
        //     }

        // @keyframes slideUpMobile {
        //     0% {
        //         transform: translate(0%, -50%);
        //     }
        //     100% {
        //         transform: translate(0%, -100%);
        //     }
        // }
          

        // .login-modal{
        //     opacity: 0;
        //     display: none;
        //     transition: all 800ms linear;
        //     // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        //     border: none;
        //     max-width: 35%;
        //     padding: 50px;
        //     position: fixed;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     z-index: 999;
        //     background-image: url("/assets/img/shopping_cart/login_modal_bg.png");
        //     background-size: 100% 100%;;
        //     background-repeat: no-repeat;
        //     background-position: center 80%;
            
        //     @media (max-width: 767px) {
        //         max-width: 100%;
        //         padding: 20px;
        //         transform: translate(0%, -50%);
        //         left: 0;
        //         right: 0;
        //     }

        //     @media (min-width: 768px) and (max-width: 991px) {
        //         max-width: 100%;
        //         padding: 40px;
        //     }


        //     @media (min-width: 992px) and (max-width: 1199px) {
        //         max-width: 100%;
        //         padding: 40px;
        //     }
            
        //     .close-btn{
        //         border: none;
        //         background: transparent;
        //         height: 40px;
        //         width: 40px;
        //         position: absolute;
        //         top: 5px;
        //         right: 5px;
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         justify-content: center;
        //         img{
        //             width:100%;
        //             object-fit: contain;
        //         }
        //     }

        //     .desc-wrapper{
        //         .cn-desc-wrapper{
        //             .cn-desc{
        //                 width:75%;
        //                 font-size: 20px;
        //                 font-family: "ChironSungHK-Medium";
        //             }
        //         }
    
        //         .en-desc-wrapper{
        //             margin-top:15px;
        //             .en-desc{
        //                 width:75%;
        //                 font-size: 13px;
        //             }
        //         }
        //     }

        //     .login-button{
        //         margin-top: 40px;
        //         background-color: #9A835E;
        //         color: white;
        //         width: 100%;
        //         border: 1px solid #9A835E;
        //         padding: 10px;
        //         font-size: 13px;
        //         font-family: 'BanglaSangam-Regular';
        //         &:hover{
        //             background-color: white;
        //             color: #9A835E;
        //         }
        //     }

        //     .register-button{
        //         background-color: white;
        //         color: #9A835E;
        //         border: 1px solid #9A835E;
        //         width: 100%;
        //         padding: 10px;
        //         font-size: 13px;
        //         font-family: 'BanglaSangam-Regular';

        //         &:hover{
        //             background-color: #9A835E;
        //             color: white;
        //         }
        //     }
            
        // }
    }
}