@font-face {
    font-family: "RecklessNeue-Light";
    src: url("/public/assets/web/assets/fonts/Reckless-Neus/RecklessNeue-Light.ttf");
}
  
  @font-face {
    font-family: "RecklessNeue-Medium";
    src: url("/public/assets/web/assets/fonts/Reckless-Neus/RecklessNeue-Medium.ttf");
  }
  
  @font-face {
    font-family: "RecklessNeue-Regular";
    src: url("/public/assets/web/assets/fonts/Reckless-Neus/RecklessNeue-Regular.ttf");
  }
  
  @font-face {
    font-family: "BanglaSangam-Regular";
    src: url("/public/assets/web/assets/fonts/Bangla-Sangam-MN/Bangla-Sangam-MN-Regular.ttf");
  }
  
  @font-face {
    font-family: "BanglaSangam-Bold";
    src: url("/public/assets/web/assets/fonts/Bangla-Sangam-MN/Bangla-Sangam-MN-Bold.ttc");
  }
  
  @font-face {
    font-family: "ChironSungHK-Light";
    src: url("/public/assets/web/assets/fonts/Chiron-Sung-HK/ChironSungHK-Text-L.otf");
  }
  
  @font-face {
    font-family: "ChironSungHK-Medium";
    src: url("/public/assets/web/assets/fonts/Chiron-Sung-HK/ChironSungHK-Text-M.otf");
  }
  
  @font-face {
    font-family: "ChironSungHK-Regular";
    src: url("/public/assets/web/assets/fonts/Chiron-Sung-HK/ChironSungHK-Text-R.otf");
  }
  