@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Normal-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Normal-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Medium-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Regular-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-ExtraLight-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-ExtraLight-Alphabetic.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Bold-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Heavy-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Heavy-Alphabetic.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Han Sans SC';
    src: url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Light-Alphabetic.woff2') format('woff2'),
        url('/public/assets/web/fonts/SourceHanSansSC/SourceHanSansCN-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

