#footer {
    overflow: hidden;
    background-image: url('/public/assets/web/assets/img/footer/footer-bg.png');
    background-size: cover;

    .container.fixed-bottom {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 2rem !important;
        z-index: 1;
        position: unset;

        #first-row {
            a.text-body-secondary img {
                height: auto;
                width: 145px;
                
                @media (max-width: 1024px) {
                    height: auto;
                    width: 75%;
                }

                @media (max-width: 767px) {
                    height: auto;
                    width: 45%;
                    padding-bottom: 25px;
                }
            }

            .nav-link.p-0.text-body-secondary {
                @media (max-width: 1024px) {}

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }

            .flex-column{
                @media (max-width: 1024px) {}

                @media (max-width: 767px) {
                    padding-bottom: 25px;
                }
            }

            .nav.flex-column .nav-link.p-0.text-body-secondary {
                @media (max-width: 1024px) {}

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        .row#first-row {
            padding-bottom: 50px;

            @media (max-width: 1024px) {
            }

            @media (max-width: 767px) {
                padding-bottom: 25px;
            }
        }

        .footer-primary {
            color: #FCFBF9 !important;
            font-family: "RecklessNeue-=Medium";
            font-size: 12px;
            padding-bottom: 15px;

            @media (max-width: 1024px) {
                font-size: 12px;
            }

            @media (max-width: 767px) {
                padding-bottom: 15px;
                font-size: 16px;
            }
        }

        .footer-primary-info {
            color: #FCFBF9 !important;
            font-family: "RecklessNeue-=Medium";
            font-size: 12px;

            @media (max-width: 1024px) {
                margin-bottom: 0px;
            }

            @media (max-width: 992px) {
                margin-bottom: 5px;
            }

            @media (max-width: 767px) {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }

        .nav-item.mb-2,
        .nav-link.p-0.text-body-secondary {
            color: #F1EDE3 !important;
            font-family: "RecklessNeue-Light";
            font-size: 11.5px;

            @media (max-width: 1024px) {
                font-size: 10px;
            }

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        p.text-center.text-body-secondary {
            color: #F1EDE3 !important;
            font-family: "RecklessNeue-Light";
            font-size: 12px;
        }
    }

    .nav.flex-column .nav-link.p-0.text-body-secondary {
        @media (max-width: 1024px) {}

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    p.text-center.text-body-secondary {
        color: #F1EDE3 !important;
        font-family: "RecklessNeue-Light";
        font-size: 12px;
        padding-top: 1rem;

        @media (max-width: 1024px) {
            padding-top: 10px;
            padding-bottom: 10px 
        }

        @media (max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 10px 
        }
    }


    .row#second-row {
        padding-bottom: 15px;

        .flex-column{
            @media (max-width: 1024px) {}

            @media (max-width: 767px) {
                padding-bottom: 20px;
            }
        }

        a.text-body-secondary img {
            margin-right: 12px;
            height: auto;
            width: 50px;
            display: flex;

            @media (max-width: 767px) {
                padding-bottom: 20px;
            }
        }
    }
}