#header {
    .navbar {
        padding: 20px 60px;
        box-shadow: 0px 4px 10px 0px #0000001A;
        width: 100%;
        background: white;
        z-index: 101;
        @media (max-width: 992px) {
            padding: 16px 30px;
        }

        .navbar-brand {
            img {
                width: 135px;
            }
        }

        .navbar-toggler {
            border: none;
            float: right;
            padding: 0;
            width: 24px;
            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .navbar-nav {
            .nav-item {
                margin: 0px 20px;
                @media (max-width: 1200px) {
                    margin: 0 10px;
                }
                .nav-link {
                    position: relative;
                    text-decoration: none;
                    padding: 0 0 6px;
                    &:hover::before, &.active::before {
                        transform: scaleX(1);
                        background: #06B2D8;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #FFB912;
                        transform: scaleX(0);
                        transform-origin: top left;
                        transition: transform 0.4s ease, background 0.4s ease;
                    }
                }
            }

            .dropdown {
                &:hover {
                    .dropdown-menu-wrapper {
                        display: block;
                    }
                }
                .dropdown-menu-wrapper {
                    position: absolute;
                    padding-top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    z-index: 100;
                }
                .dropdown-menu {
                    position: relative;
                    display: block;
                    padding: 20px 0;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                    .dropdown-item {
                        padding: 10px 20px;
                        &:active {
                            color: black;
                            background-color: inherit;
                        }
                    }
                }
            }

            .search-icon {
                width: 14px;
                margin-bottom: 2px;
            }
        }
    }

    // mobile-navbar
    .mobile-nav {
        position: absolute;
        z-index: 100;
        width: 100%;
        background-color: white;
        
        .mobile-nav-content {
            padding: 17px 0;
            height: calc(100vh - 72px);
            
            .nav-item {
                .nav-link {
                    padding: 16px 30px;

                    .arrow-down {
                        width: 17px;
                        transition: transform 0.3s ease;
                    }
                    .arrow-down.down {
                        transform: rotate(0deg);
                    }
                    .arrow-down.up {
                        transform: rotate(180deg);
                    }
                }
            }

            .list-group {
                .list-item {
                    padding: 0 48px 8px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        
        .language-nav {
            bottom: 17px;
            position: fixed;
            padding: 16px 14px;

            .nav-item {
                &:first-child .nav-link {
                    border-right: 1px solid #B7B7B7
                }
                .nav-link {
                    padding: 0 16px;
                }
            }
        }
    }
}