#header {
    .navbar {
        padding: 20px 60px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        @media (max-width: 992px) {
            padding: 16px 30px;
        }

        .navbar-brand {
            img {
                width: 135px;
            }
        }

        .navbar-toggler {
            border: none;
            float: right;
            padding: 0;
            width: 24px;
            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .navbar-nav {
            .nav-item {
                margin: 0px 20px;
                @media (max-width: 1200px) {
                    margin: 0 10px;
                }
                .nav-link {
                    position: relative;
                    text-decoration: none;
                    padding: 0 0 6px;
                    &:hover::before, &.active::before {
                        transform: scaleX(1);
                        background: #06B2D8;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #FFB912;
                        transform: scaleX(0);
                        transform-origin: top left;
                        transition: transform 0.4s ease, background 0.4s ease;
                    }
                }
            }

            .dropdown {
                &:hover {
                    .dropdown-menu-wrapper {
                        display: block;
                    }
                }
                .dropdown-menu-wrapper {
                    position: absolute;
                    padding-top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    z-index: 100;
                }
                .dropdown-menu {
                    position: relative;
                    display: block;
                    padding: 20px 0;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                    .dropdown-item {
                        padding: 10px 20px;
                        &:active {
                            color: black;
                            background-color: inherit;
                        }
                    }
                }
            }

            .search-icon {
                width: 14px;
                margin-bottom: 2px;
            }
        }
    }

    // mobile-navbar
    .mobile-nav {
        position: fixed;
        top: 0;
        right: -50%;
        width: 40%;
        height: 100%;
        background-color: white;
        transition: right 0.3s ease-in-out;
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;


        &.show {
            right: 0;
            overflow-y: scroll;
        }
    }
}