.account-nav-dt{
    @media only screen and (max-width:1199px){
        display: none;
    }
}
.account-nav-mobile{
    @media only screen and (min-width:1200px){
        display: none;
    }
    margin-bottom: 40px;
    .collapse-wrapper{
        border-bottom: 1px solid rgba(107,91,64,0.3);
    }
    .account-nav{
        position: relative;
        margin-top: 15px;
        @media only screen and (max-width:1199px){
            width: 100% !important;
        }
        .arrow{
            position: absolute;
            top: 0;
            right: 0;
            img{
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}