#about{
    background-color: #FCFBF9;
    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                color: #000;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-family: "RecklessNeue-Light";
                }
            }
        }
    }
    .about-content{
        padding-top: 95px;
        padding-bottom: 100px;
    }
    .row-about-content{
        align-items: center;
        justify-content: center;
        .left-content-wrap{
            @media only screen and (max-width:991px){
                order: 1;
            }
        }
        .left-content{
            font-family: "RecklessNeue-Medium";
            .left-chinese{
                font-family: "ChironSungHK-Text-R";
                p{
                    margin-bottom: 0 !important;
                }
            }
            .left-eng{
                margin-top: 25px;
                margin-bottom: 35px;
            }
            .bottom-social{
                img{
                    width: 30px;
                    margin-right: 15px;
                }
                a{
                    color: #000;
                    text-decoration: none;
                }
                .fb{
                    margin-bottom: 10px;
                }
            }
        }
        .right-content{
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width:991px){
                margin-bottom: 60px;
            }
            img{
                width: 75%;
            }
        }
    }
}

#about-membership{
    background-color: #FCFBF9;
    .title-about-membership{
        font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        color: #000;
        font-size: 22px;
        margin-bottom: 70px;
    }
    .desc-bottom{
        margin-top: 90px;
    }
    .member-type{
        font-size: 15px;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
        span{
            padding: 20px 50px;
            border-radius: 50%;
            border: 1px solid #6B5B40;
            text-transform: uppercase;
            font-size: 20px;
            font-family: "RecklessNeue-Medium";
            color: #6B5B40;
        }
    }
    .member-type-detail{
        background-color: hsl(33, 36%, 95%);
        padding: 25px;
        font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        border-radius: 25px;
    }
    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .about-content{
        padding-top: 95px;
        padding-bottom: 100px;
    }
    .row-about-content{
        .left-content-wrap{
            @media only screen and (max-width:991px){
                order: 1;
            }
        }
        .left-content{
            font-family: "RecklessNeue-Medium";
            width: 85%;
            .left-chinese{
                font-family: "ChironSungHK-Text-R";
                p{
                    font-size: 25px;
                    margin-bottom: 0 !important;
                }
            }
            .left-eng{
                margin-top: 25px;
                margin-bottom: 35px;
            }
            .bottom-social{
                img{
                    width: 30px;
                }
                .fb{
                    margin-bottom: 10px;
                }
            }
        }
        .right-content{
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width:991px){
                margin-bottom: 60px;
            }
            img{
                width: 75%;
            }
        }
    }
}

#about-point{
    background-color: #FCFBF9;
    .about-content{
        padding-top: 95px;
        padding-bottom: 100px;
    }
    .row-about-content{
        align-items: center;
        justify-content: center;
        .left-content-wrap{
            @media only screen and (max-width:991px){
                order: 1;
            }
        }
        .left-content{
            font-family: "RecklessNeue-Medium";
            .left-chinese{
                font-family: "ChironSungHK-Text-R";
                p{
                    font-size: 25px;
                    margin-bottom: 0 !important;
                }
            }
            .left-eng{
                margin-top: 25px;
                margin-bottom: 35px;
                p{
                    font-size: 15px;
                }
            }
            .bottom-social{
                img{
                    width: 30px;
                    margin-right: 15px;
                }
                a{
                    color: #000;
                    text-decoration: none;
                }
                .fb{
                    margin-bottom: 10px;
                }
            }
        }
        .right-content{
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width:991px){
                margin-bottom: 60px;
            }
            img{
                width: 75%;
            }
        }
    }
    #accordionExample{
        --bs-accordion-border-width: unset !important;
        font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        p{
            font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        }
        .accordion-unity{
            font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        }
        .accordion-item{
            border: none;
            margin-bottom: 25px;
            border-radius: 20px;
        }
        .accordion-button{
            padding: 30px;
            border-radius: 20px;
            &.collapsed{
                background-color: #F7F3EE;
            }
            &:not(.collapsed){
                background-color: transparent;
                color: #000;
            }
            &:focus{
                box-shadow: none;
            }
            &:after{
                background-image: url('/public/assets/web/assets/img/voucher/down.png');
                width: 2.25rem;
                height: 2.25rem;
                background-size: 2.25rem;
                @media only screen and (min-width:768px){
                    width: 3.25rem;
                    height: 3.25rem;
                    background-size: 3.25rem;
                }
            }
        }
    }
    .qna-title{
        display: flex;
        span{
            border-radius: 50%;
            background-color: #6B5B41;
            padding: 5px 10px;
            color: #fff;
        }
        .q-icon{
            margin-right: 20px;
        }
    }
    .qna-ans{
        display: flex;
        padding: 30px;
        span{
            border-radius: 50%;
            background-color: #F1EDE3;
            padding: 5px 10px;
            color: #6B5B41;
        }
        .a-icon{
            margin-right: 20px;
        }
    }
    .title-about-membership{
        font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        color: #000;
        font-size: 22px;
        margin-bottom: 70px;
    }
    .desc-bottom{
        margin-top: 90px;
    }
    .member-type{
        font-size: 15px;
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
        span{
            padding: 20px 50px;
            border-radius: 50%;
            border: 1px solid #6B5B40;
            text-transform: uppercase;
            font-size: 20px;
            font-family: "RecklessNeue-Medium";
            color: #6B5B40;
        }
    }
    .member-type-detail{
        background-color: hsl(33, 36%, 95%);
        padding: 25px;
        font-family: "RecklessNeue-Medium", "ChironSungHK-Text-R";
        border-radius: 25px;
    }

    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}

#about-contact{
    background-color: #FCFBF9;
    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .contact-us{
        padding-top: 50px;
        padding-bottom: 50px;
        .contact-info-sub{
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(154,131,93,0.5);
            padding-bottom: 30px;
            font-family: "RecklessNeue-Light";
            p{
                font-family: "RecklessNeue-Medium";
            }
            img{
                width: 45px;
            }
            .details{
                margin-left: 45px;
            }
        }
        .bottom-note{
            padding-top: 10px;
            font-family: "RecklessNeue-Light";
            color: rgba(154,131,93);
        }
    }
    .mg-btm-20{
        @media only screen and (max-width:991px){
            margin-bottom: 40px;
        }
    }
    .addr-map-wrapper{
        padding-bottom: 200px;
        padding-top: 70px;
        @media only screen and (max-width:991px){
            padding-top: 0px;
        }
        .right-content{
            @media only screen and (max-width:1199px){
                height: 400px;
                margin-top: 35px;
                .map{
                    height: 100%;
                    object-fit: cover;
                }
            }
            .map{
                width: 100%;
                height: 100%;
            }
        }
    }
    .title-contact-visit{
        font-family: "RecklessNeue-Regular";
        font-size: 50px;
        color: #6B5B40;
        line-height: 1.4;
        text-transform: uppercase;
        max-width: 90%;
        @media only screen and (max-width:1199px){
            max-width: 100%;
        }
        @media only screen and (max-width:991px){
            font-size: 40px;
        }
    }
    .left-addr-n-hrs{
        padding-top: 60px;
        @media only screen and (max-width:991px){
            padding-top: 20px;
        }
        img{
            width: 45px;
        }
        .addr{
            margin-top: 25px;
            margin-bottom: 25px;
            .addr-title{
                font-family: "RecklessNeue-Medium";
                font-size: 15px;
                margin-bottom: 10px;
            }
            .addr-addr{
                font-family: "RecklessNeue-Light";
            }
        }
        .hrs{
            .hrs-title{
                font-family: "RecklessNeue-Medium";
                font-size: 15px;
                margin-bottom: 10px;
            }
            .hrs-hrs{
                font-family: "RecklessNeue-Light";
            }
        }
    }
}

#about-tnc{
    background-color: #FCFBF9;
    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .tnc{
        padding-top: 50px;
        padding-bottom: 200px;
        .tnc-para{
            padding-bottom: 50px;
            font-family: "ChironSungHK-Light";
            .big-title{
                font-family: "ChironSungHK-Medium";
                font-size: 20px;
            }
            .title{
                font-family: "ChironSungHK-Medium";
                font-size: 18px;
            }
            .title-v2{
                font-family: "ChironSungHK-Regular";
            }
        }
        .tnc-para-eng{
            border-top: 1px solid #6B5B40;
            padding-top: 50px;
            font-family: "RecklessNeue-Regular";
            .big-title{
                font-family: "RecklessNeue-Medium";
                font-size: 20px;
            }
            .title{
                font-family: "RecklessNeue-Medium";
                font-size: 18px;
            }
            .title-v2{
                font-family: "RecklessNeue-Medium";
            }
        }
    }
}

#about-shipping{
    background-color: #FCFBF9;
    .top-section-wrapper{
        position: relative;
        .top-banner{
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;

                @media only screen and (max-width: 767px){
                    height: 300px;
                }
            }
        }
        .title-and-nav{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 55px;
                text-align: center;
                margin-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                @media only screen and (max-width:767px){
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }
            .nav-acc{
                text-align: center;
                margin-bottom: 40px;
                a{
                    text-decoration: none;
                    color: #6B5B40;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .tnc{
        padding-top: 50px;
        padding-bottom: 200px;
        .tnc-para{
            padding-bottom: 50px;
            font-family: "ChironSungHK-Light";
            .big-title{
                font-family: "ChironSungHK-Medium";
                font-size: 20px;
            }
            .title{
                font-family: "ChironSungHK-Medium";
                font-size: 18px;
            }
            .title-v2{
                font-family: "ChironSungHK-Regular";
            }
        }
        .tnc-para-eng{
            border-top: 1px solid #6B5B40;
            padding-top: 50px;
            font-family: "RecklessNeue-Regular";
            .big-title{
                font-family: "RecklessNeue-Medium";
                font-size: 20px;
            }
            .title{
                font-family: "RecklessNeue-Medium";
                font-size: 18px;
            }
            .title-v2{
                font-family: "RecklessNeue-Medium";
            }
            a{
                color: #000;
            }
        }
    }
}