@import "layout/fonts.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "home.scss";
@import "about-us.scss";
@import "mission.scss";
@import "our-partner.scss";
@import "founder.scss";
@import "what-do-we-do.scss";
@import "event.scss";
@import "event-details.scss";
@import "contact-us.scss";

html {
    scroll-behavior: smooth;

    #fixed-chatbox {
        position: fixed;
        right: 20px;
        bottom: 20px;
        display: block;
        width: 60px;
        overflow: hidden;
        z-index: 999;
    }
}

body{
    &.active{
        overflow: hidden;
    }
}