#blog {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .header-row {
    min-height: 30vh;

    .banner-background {
      background-image: url("/public/assets/web/assets/img/about-us/title-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .title {
        color: white;
        position: relative;
        left: 25%;
        top: 40%;
        width: fit-content;
        @media (max-width: 767px) {
          left: 60px;
          top: 50%;
          transform: translateY(-50%);
        }

        .breadcrumb-item,
        .breadcrumb-item::before {
          color: white;
        }

        a {
          color: white;
          text-decoration: none;
        }

        .h2 {
          margin-top: 24px;
        }
      }
    }

    .banner-img {
      object-fit: cover;
    }
  }

  .content-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("/public/assets/web/assets/img/about-us/background.png");
    background-repeat: no-repeat;
    background-position: bottom -200px left;
    background-size: 40%;

    @media (max-width: 991px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .h3 {
      color: #004080;
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
    }
    .h5 {
      margin-bottom: 40px;
    }

    .blog-arrow-wrapper {
      width: 20px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;

      .blog-arrow {
        position: relative;
        transition: transform 0.3s ease;
      }

      .blog-arrow-after {
        position: absolute;
        left: -100%;
        height: 100%;
        transition: left 0.3s ease;
      }
    }

    #knowledge-blog {
      .knowledge-blog-wrapper {
        width: 80%;
        @media (max-width: 1199px) {
          width: 90%;
        }
        .knowledge-swiper {
          overflow: hidden;

          .card {
            box-shadow: 0px 8px 20px 0px #00408026;
            border-radius: 8px;
            border: none;
            margin: 30px 20px;
            @media (max-width: 575px) {
              margin: 30px 0;
            }

            &:hover {
              .blog-img {
                transform: scale(1.1);
              }
              .blog-arrow {
                transform: translateX(100%);
              }
              .blog-arrow-after {
                left: 0;
              }
            }

            .card-body {
              padding: 35px 30px;
              &:hover {
                cursor: pointer;
              }
              .card_desc {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.4em; 
                height: 4.2em; 
              }
              .p3 {
                margin-top: 30px;
              }
              .h5 {
                margin-top: 16px;
                margin-bottom: 40px;
              }
              .img-wrapper {
                overflow: hidden;
                border-radius: 8px;
                .blog-img {
                  transition: transform 1s ease;
                }
              }
            }
          }

          .pagination-wrapper {
            margin-top: 20px;
            .swiper-pagination {
              position: relative;
              top: 0;
              bottom: 0;
              width: auto;
              margin: 0 40px;
              .swiper-pagination-current,
              .swiper-pagination-total {
                margin: 6px;
              }
            }
            #blog-right,
            #blog-left {
              width: 24px;
              cursor: pointer;
              position: relative;
            }
          }

          .scrollbar-wrapper{
            margin-top: 20px;
            .swiper-scrollbar{
              position: relative;
              top: 0;
              bottom: 0;
              width: auto;
              margin: 0 40px;
              --swiper-scrollbar-bg-color: #B7B7B7;
              --swiper-scrollbar-drag-bg-color: #06B2D8;
              --swiper-scrollbar-size: 4px;
            }
          }
        }
      }
    }

    #interviews-blog {
      .interviews-blog-wrapper {
        width: 80%;
        padding-top: 100px;
        @media (max-width: 1199px) {
          width: 90%;
        }
        @media (max-width: 991px) {
          padding-top: 80px;
        }

        .interview-card {
          margin-right: 20px;
          @media (max-width: 768px) {
            margin-right: auto;
          }
          .card {
            box-shadow: 0px 8px 20px 0px #00408026;
            border-radius: 8px;
            border: none;
            @media (max-width: 991px) {
              margin-bottom: 60px;
            }
            @media (max-width: 768px) {
              margin-bottom: 60px;
            }
            .card-desc{
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 5;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.4em; 
              height: 7em; 
            }

            &:hover {
              .blog-img {
                transform: scale(1.1);
              }
              .blog-arrow {
                transform: translateX(100%);
              }
              .blog-arrow-after {
                left: 0;
              }
            }

            .card-body {
              padding: 35px 30px;
              &:hover {
                cursor: pointer;
              }
              .p3 {
                margin-top: 30px;
              }
              .h5 {
                margin-top: 16px;
                margin-bottom: 40px;
              }
              .img-wrapper {
                overflow: hidden;
                border-radius: 8px;
                .blog-img {
                  transition: transform 1s ease;
                }
              }
            }
          }
        }

        .blog-list-wrapper::-webkit-scrollbar {
          width: 4px;
        }
        .blog-list-wrapper::-webkit-scrollbar-track {
          background:#B7B7B7; 
          border-radius: 10px;
        }
        .blog-list-wrapper::-webkit-scrollbar-thumb {
          background: #06B2D8; 
          border-radius: 10px;
        }
         
        .blog-list-wrapper {
          height: 450px;
          @media (min-width: 768px) {
            max-height: 510px;
          }
          @media (min-width: 1024px) {
            max-height: 510px;
          }
          @media (min-width: 1440px) {
            max-height: 520px;
          }
          @media (min-width: 2560px) {
            max-height: 720px;
          }
          .blog-list {
            .blog-detail {
              text-decoration: none;
              color: black;
              .list-desc{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.4em; 
                height: 2.8em; 
              }
              .row {
                border-bottom: 1px solid #b7b7b7;
              }
              .img-wrapper {
                overflow: hidden;
                border-radius: 8px;
                img {
                  transition: transform 0.5s ease;
                }
              }
              &:hover {
                img {
                  transform: scale(1.1);
                }
                .h5 {
                  color: #06b2d8;
                }
              }
            }
          }
          .scrollbar-wrapper{
            margin-top: 20px;
            .swiper-scrollbar{
              position: relative;
              width: auto;
              --swiper-scrollbar-bg-color: #B7B7B7;
              --swiper-scrollbar-drag-bg-color: #06B2D8;
              --swiper-scrollbar-size: 500px;
            }
          }
        }
      }
    }
  }
}
