#contact-us {
    .btn-contact{
        display: inline-flex;
        align-items: center;
        background-color: #004080;
        color: #fff;
        border-radius: 25px;
        padding: 10px 20px;
    }

    .header-row {
        min-height: 30vh;

        .banner-background {
            background-image: url('/public/assets/web/assets/img/contact-us/title-background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            .title {
                color: white;
                position: relative;
                left: 25%;
                top: 50%;
                transform: translateY(-50%);
                width: fit-content;
                @media (max-width: 992px) {
                    left: 60px;
                }
    
                .breadcrumb-item, .breadcrumb-item::before {
                    color: white;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                }
    
                .h2 {
                    margin-top: 24px;
                }
            }
        }

        .banner-img {
            object-fit: cover;
            width: 100%;
        }
    }

    .content-section {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('/public/assets/web/assets/img/contact-us/background.png');
        background-repeat: no-repeat;
        background-position: bottom -200px left;
        background-size: 40%;
        @media (max-width: 991px) {
            padding-top: 80px;
        }

        .contact-row{
            --bs-gutter-y: 40px;
        }

        .contact-list-section{
            padding: 0 3rem;

            @media (max-width: 992px) {
                padding: 0;
            }

            a{
                text-decoration: none;
                color: unset;
                cursor: pointer;

                &:hover{
                    color: #004080;
                }

                .contact-list-item{
                    margin-bottom: 30px;
                    display: flex;
                    align-items: baseline;
                    gap: 15px;

                    @media (max-width: 992px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    
        .top-section{
            margin-bottom: 40px;
        }

        .bottom-section{
            margin-bottom: 100px;

            .form-section{
                margin-bottom: 40px;

                @media (max-width: 992px) {
                    .first-name-container{
                        margin-bottom: 30px;
                    }
                }

                span{
                    color: #baa994;
                }

                .form-control{
                    border-radius: 2px;
                    background-color: #f7f7f7;
                    border: 1px solid #f7f7f7;
                    padding: 0.75rem;
                }
            }

            .btn-send{
                img{
                    margin-left: 10px;
                    width: 8px;
                    height: 14px;
                }
            }
        }

        .warning-container{
            background-color: #fff;
            padding: 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;

            @media (max-width: 992px) {
                padding: 50px 30px;
            }

            .warning-title{
                text-align: center;
                margin-bottom: 30px;

                .h4{
                    color: #004080;
                }
            }

            .warning-text-list{
                ol{
                    li{
                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }



    #successModal{
        .modal-content{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            border: none;

            .modal-body{
                padding: 100px 50px;
                text-align: center;
    
                @media (max-width: 992px) {
                    padding: 70px 30px;
                }
    
                .success-title{
                    font-weight: bold;
                    font-size: 22px;
                    margin-bottom: 20px;
                }
    
                .success-text{
                    margin-bottom: 40px;
                }
    
                .btn-back{
                    img{
                        margin-left: 10px;
                        width: 8px;
                        height: 14px;
                    }
                }
            }
        }
    }
}

.swal2-modal{
    padding: 70px 30px;

    @media (max-width: 992px) {
        padding: 20px;
    }
}

.swal2-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 1.8em;
}

.swal2-html-container{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.swal2-confirm{
    display: inline-flex;
    align-items: center;
    background-color: #004080;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 1.8em auto 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    img{
        margin-left: 10px;
        width: 8px !important;
        height: 14px;
    }
}