#founder {
    .header-row {
        min-height: 30vh;
        @media (max-width: 575px) {
            min-height: 40vh;
        }

        .banner-background {
            background-image: url('/public/assets/web/assets/img/about-us/title-background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            .title {
                color: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 140px;
                @media (max-width: 1199px) {
                    padding-left: 20%;
                }
                @media (max-width: 767px) {
                    padding-left: 60px;
                }
    
                .breadcrumb-item, .breadcrumb-item::before {
                    color: white;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                }
    
                .h2 {
                    width: 60%;
                    margin-top: 24px;
                    @media (max-width: 1199px) {
                        width: 70%;
                    }
                    // @media (max-width: 767px) {
                    //     width: 100%;
                    // }
                }
            }
        }

        .banner-img {
            object-fit: cover;
        }
    }

    .content-section {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('/public/assets/web/assets/img/founder/background-left.png'), url("/public/assets/web/assets/img/founder/background-right.png");
        background-repeat: no-repeat;
        background-position: top 14% left, bottom -80px right;
        background-size: 20%, 30%;
        @media (max-width: 1199px) {
            background-size: 30%, 40%;
        }
        @media (max-width: 567px) {
            padding-top: 80px;
            background-size: 400px, 500px;
        }

        .content-wrapper {
            margin: auto;
            margin-bottom: 120px;
    
            @media (max-width: 1199px) {
                width: 100%;
            }

            .title {
                color: #004080;
                margin-bottom: 60px;
            }

            .details {
                margin-bottom: 40px;

                .img-wrapper {
                    max-width: 150px;
                    margin: auto;
                    @media (max-width: 767px) {
                        max-width: 300px;
                    }
                }

                .content {
                    border-bottom: 0.5px solid #6A6A6A;
                    padding-bottom: 8px;
                    .p2 {
                        color: #6A6A6A;
                        text-decoration: none;

                        .arrow-down {
                            width: 17px;
                            transition: transform 0.3s ease;
                        }
                        .arrow-down.down {
                            transform: rotate(0deg);
                        }
                        .arrow-down.up {
                            transform: rotate(180deg);
                        }
                    }
                    .bio {
                        .p3 {
                            padding-top: 12px;
                            color: #6A6A6A;
                        }
                    }
                }
            }
        }
    }
}