#home {
    .btn-more {
        background-color: #004080;
        border-color: #004080;
        padding: 12px 24px;
        border-radius: 40px;
        text-decoration: none;
        color: white;
        width: fit-content;
        .arrow {
            width: 8px;
            margin-left: 10px;
        }
        &:hover {
            background-color: #06B2D8;
            border-color: #06B2D8;
        }
    }
    .swiper {
        height: calc(100vh - 105px);
        @media (max-width: 991px) {
            padding-bottom: 79px;
            height: 100%;
        }
        .swiper-wrapper {
            overflow: hidden;
            .swiper-slide {
                position: relative;
                .banner-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 5s ease;
                }
                .banner-content {
                    position: absolute;
                    top: 50%;
                    left: 86px;
                    opacity: 0;
                    transform: translateX(-100%) translateY(-50%);
                    transition: opacity 3s ease, transform 3s ease;
                    @media (max-width: 991px) {
                        left: 10%;
                        top: auto;
                        bottom: 20px;
                        transform: translateX(-100%) translateY(-20px);
                    }
                    .banner-title {
                        // font-family: 'Helvetica';
                        // font-size: 42px;
                        // font-weight: 700;
                        // line-height: 56px;
                        text-align: left;
                        text-shadow: 0px 4px 20px #000000A6;
                        color: white;
                        margin-bottom: 20px;
                    }
                    .button {
                        background-color: #06B2D8;
                        border: 1px solid #06B2D8;
                    }
                }
            }
            
            .swiper-slide-active {
                .banner-img {
                    transform: scale(1.05);
                }
                .banner-content {
                    opacity: 1;
                    transform: translateX(0) translateY(-50%);
                    @media (max-width: 991px) {
                        transform: translateX(0) translateY(-20px);
                    }
                }
            }
        }
    
        .swiper-bottom {
            position: absolute;
            left: 86px;
            bottom: 70px;
            @media (max-width: 991px) {
                bottom: 12px;
                left: 50%;
                transform: translateX(-50%);
            }
            .swiper-pagination {
                width: auto;
                position: static;
    
                .swiper-pagination-bullet {
                    text-align: center;
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    background-color: white;
                    border-radius: 0px;
                    margin-right: 24px;
                    @media (max-width: 991px) {
                        background-color: black;
                    }
                }
            
                .swiper-pagination-bullet-active {
                    color: #fff;
                    background: #004080;
                    @media (max-width: 991px) {
                        background: #06B2D8;
                    }
                }
            }

            .play {
                width: 22px;
                margin-right: 12px;
                z-index: 1;
                cursor: pointer;
            }

            .pause {
                width: 22px;
                z-index: 1;
                cursor: pointer;
            }
        }
    }

    //============================= slogan ==================================
    .slogan {
        // background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 54.5%);
        // background-image: url('/public/assets/web/assets/img/home/background-left.png'), url("/public/assets/web/assets/img/home/background-right.png");
        // background-size: 50%, 50%;
        // background-position: top left, bottom right;
        background-image: url('/public/assets//web/assets/img/home/slideshow-background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 991px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .content-wrapper {
            width: 60%;
            @media (max-width: 1400px) {
                width: 70%;
            }
            @media (max-width: 767px) {
                width: 85%;
            }
            h2 {
                margin-top: 70px;
                position: relative;
                z-index: 1;
                
                &:before {
                    border-top: 17px solid #06B2D8;
                    content:"";
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10%;
                    opacity: 30%;
                    z-index: -1;
                    @media (max-width: 667) {
                        margin-top: 30px;
                    }
                }
                @media (max-width: 991px) {
                    margin-top: 30px;
                }
            }
        }
        #slogan-slideshow {
            margin-top: 50px;
            .slick-track {
                display: flex;
                align-items: center;
                .swiper-slide {
                    margin: 0 20px;
                    @media (max-width: 991px) {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    //====================== what do we do ===========================
    #what-we-do {
        .what-wrapper {
            width: 80%;
            padding: 100px 0;
            @media (max-width: 1199px) {
                width: 90%;
            }
            @media (max-width: 991px) {
                padding-bottom: 0;
            }

            #what-carousel {
                .slick-slide {
                    background-image: url('/public/assets/web/assets/img/home/what-we-do-background.png');
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-size: 130%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            .detail {
                padding: 25px 0;

                .img-wrapper {
                    width: 55px;
                    margin-right: 16px;
                }
                .detail-content {
                    width: 100%;
                    .h4 {
                        margin-bottom: 0;
                    }
                    .p2 {
                        margin-bottom: 0;
                    }
                }
            }

            .detail:first-child {
                @media (max-width: 991px) {
                    border-top: 1px solid #B7B7B7;
                }
            }

            .detail:not(:last-child) {
                border-bottom: 1px solid #B7B7B7;
            }
        }
    }

    //====================== news and event ===========================
    .event-arrow-wrapper {
        width: 20px;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        
        .event-arrow {
            position: relative;
            transition: transform 0.3s ease;
        }

        .event-arrow-after {
            position: absolute;
            left: -100%;
            height: 100%;
            transition: left 0.3s ease;
        }
    }

    #news-event {
        background-image: url('/public/assets/web/assets/img/home/event-background.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 35%;
        @media (max-width: 991px) {
            background-position: bottom 20px right;
            background-size: 400px;
        }
        .news-event-wrapper {
            width: 80%;
            padding-top: 100px;
            @media (max-width: 1199px) {
                width: 90%;
            }
            @media (max-width: 991px) {
                padding-top: 80px;
            }

            .news-list {
                .news-detail {
                    text-decoration: none;
                    color: black;
                    .row {
                        padding: 30px 0;
                        border-bottom: 1px solid #B7B7B7;
                        @media (max-width: 578px) {
                           padding: 20px 0 10px;
                        }
                    }
                    .img-wrapper {
                        overflow: hidden;
                        border-radius: 8px;
                        img {
                            width: 100%;
                            height: 141.19px;
                            object-fit: cover;
                            transition: transform 0.5s ease;
                        }
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                        .h5 {
                            color: #06B2D8;
                        }
                    }
                }
            }

            .event-swiper {
                overflow: hidden;

                a{
                    text-decoration: none;
                    color: unset;

                    &:hover{
                        color: #06B2D8;
                    }
                }

                .card {
                    box-shadow: 0px 8px 20px 0px #00408026;
                    border-radius: 8px;
                    border: none;
                    margin: 30px 20px;
                    @media (max-width: 575px) {
                        margin: 30px 0;
                    }

                    &:hover {
                        .event-img {
                            transform: scale(1.1);
                        }
                        .event-arrow {
                            transform: translateX(100%);
                        }
                        .event-arrow-after {
                            left: 0;
                        }
                    }

                    .card-body {
                        padding: 35px 30px;
                        &:hover {
                            cursor: pointer;
                        }
                        .p3 {
                            margin-top: 30px;
                        }
                        .h5 {
                            margin-top: 16px;
                            margin-bottom: 40px;
                        }
                        .img-wrapper {
                            overflow: hidden;
                            border-radius: 8px;
                            .event-img {
                                width: 100%;
                                height: 228px;
                                object-fit: cover;
                                transition: transform 1s ease;
                            }
                        }
                    }
                }
                
                .pagination-wrapper {
                    margin-top: 40px;
                    .swiper-pagination {
                        position: relative;
                        top: 0;
                        bottom: 0;
                        width: auto;
                        margin: 0 40px;
                        .swiper-pagination-current, .swiper-pagination-total {
                            margin: 6px
                        }
                    }
                    #event-right, #event-left {
                        width: 24px;
                        cursor: pointer;
                        position: relative;
                    }
                }
            }
        }
    }

    //====================== programme ===========================
    #programme {
        background-image: url('/public/assets/web/assets/img/home/programme-background.png');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 35%;
        @media (max-width: 1199px) {
            background-size: 50%;
        }
        @media (max-width: 767px) {
            background-size: 80%;
        }
        .programme-wrapper {
            width: 80%;
            padding-top: 120px;
            padding-bottom: 120px;
            @media (max-width: 1199px) {
                width: 90%;
            }
            @media (max-width: 991px) {
                padding-bottom: 60px;
                padding-top: 60px;
            }
            a {
                text-decoration: none;
                color: black;
            }
            .card {
                margin-top: 40px;
                border-radius: 8px;
                box-shadow: 0px 4px 20px 0px #0000001A;
                border: none;
                
                &:hover {
                    cursor: pointer;
                    .img-wrapper {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    .event-arrow {
                        transform: translateX(100%);
                    }
                    .event-arrow-after {
                        left: 0;
                    }
                }

                .card-body {
                    padding: 20px;
                    @media (max-width: 767px) {
                        padding: 0;
                    }
                    .content-wrapper {
                        text-decoration: none;
                        color: black;
                        padding: 30px;
                        @media (max-width: 1199px) {
                            padding: 20px;
                        }
                        @media (max-width: 767px) {
                            padding-bottom: 40px;
                        }
                        .p2 {
                            margin-top: 16px;
                        }
                    }
                    .img-wrapper {
                        overflow: hidden;
                        border-radius: 8px;
                        @media (max-width: 991px) {
                            margin: 20px;
                        }
                        img {
                            transition: transform 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}
