#our-partner {
    .header-row {
        min-height: 30vh;
        
        .banner-background {
            background-image: url('/public/assets/web/assets/img/about-us/title-background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            .title {
                color: white;
                position: relative;
                left: 25%;
                // top: 40%;
                top: 50%;
                transform: translateY(-50%);
                width: fit-content;
                @media (max-width: 767px) {
                    left: 60px;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
    
                .breadcrumb-item, .breadcrumb-item::before {
                    color: white;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                }
    
                .h2 {
                    margin-top: 24px;
                }
            }
        }

        .banner-img {
            object-fit: cover;
        }
    }

    .content-section {
        padding-top: 120px;
        padding-bottom: 120px;
    
        @media (max-width: 991px) {
            padding-top: 80px;
        }

        .content-wrapper {
            width: 70%;
    
            @media (max-width: 1199px) {
                width: 80%;
            }
    
            @media (max-width: 575px) {
                width: 90%;
            }

            .soco {
                max-width: 200px;
                width: 100%;
            }
    
            .chicken-soup {
                max-width: 355px;
                width: 100%;
            }

            .heep-hong {
                max-width: 230px;
            }

            .nda {
                max-width: 200px;
            }
            
            .children, .faith {
                max-width: 100px;
    
                @media (max-width: 991px) {
                    max-width: 140px;
                }
            }
        }
    }
}