#product{
    font-family: "RecklessNeue-Light";

    .product-banner{
        position: relative;
        img{
            width: 100%;
            min-height: 50vh;
            object-fit: cover;
        }

        .product-title-wrapper{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color:#6B5B41;
            text-align: center;
            .product-title{
                font-size: 50px;
            }
            .product-nav{
                font-size: 13px;
                column-gap: 0.5rem;
            }
        }

    }

    .content-wrapper{
        padding: 100px 0 180px 0;
        .nav-wrapper{

            .list-title{
                font-family: "RecklessNeue-Medium";
                font-size:17px;
                margin-bottom: 15px;
            }
    
            a{
                text-decoration: none;
                color:black;
                font-size:15px;
            }
    
            ul{
                padding: 0;;
            }
            li{
                list-style: none;
                padding: 7px 0;
                color:#302E30;
            }

            .category-wrapper{
                margin-bottom: 80px;
            }
        }

        .product-wrapper {
            .product-container {
                padding-bottom: 30px;
                position: relative;
                word-wrap: break-word;
                overflow: hidden;
            }
    
    
            //image change when cover
            .product-container.product-img img {
                max-width: 100%;
                height: auto;
                transition: clip-path 0.5s ease-in-out, opacity 0.4s ease-in-out;
            }
    
            .product-img img.hide {
                clip-path: ellipse(100% 50% at 50% 50%);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0px;
                width: 100%;
                height: auto;
            }
    
            .product-img:hover img.hide {
                clip-path: none;
                opacity: 1;
            }
    
            .product-img:hover img.show {
                opacity: 0;
            }
    
    
    
    
            .wishlist-cart-container img.wishlist-hide,
            .wishlist-cart-container img.wishlist-hover-show,
            .wishlist-cart-container img.cart-hide,
            .wishlist-cart-container img.cart-hover-show {
                width: 45%;
    
                @media (max-width: 1500px) {
                    width: 50%;
                }
            }
    
            .wishlist-cart-container img.wishlist-hide,
            .wishlist-cart-container img.wishlist-hover-show {
                position: absolute;
                bottom: 0;
                right: 0;
            }
    
            .wishlist-cart-container img.cart-hide,
            .wishlist-cart-container img.cart-hover-show {
                position: absolute;
                bottom: 0;
                left: 0;
            }
    
            .wishlist-cart-container {
                transition: all 0.3s linear;
                position: absolute;
                opacity: 0;
                bottom: 0;
                left: 0;
                right: 0;
    
                @media (max-width: 1024px) {
                    display: none;
                }
    
                @media (max-width: 767px) {
                    display: none;
                }
            }
    
            .product-image:hover {
                .wishlist-cart-container {
                    position: absolute;
                    opacity: 1;
                    bottom: 35px;
    
                    @media (max-width: 1024px) {
                        display: none;
                    }
    
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
    
            .wishlist-container {
                position: relative;
                text-align: right;
            }
    
            .wishlist-hover-show {
                transition: opacity 0.3s ease;
                position: relative;
                opacity: 0;
            }
    
            .wishlist-container:hover .wishlist-hide {
                opacity: 0;
            }
    
            .wishlist-container:hover .wishlist-hover-show {
                opacity: 1;
            }
    
            .cart-container {
                position: relative;
                text-align: left;
            }
    
            .cart-hover-show {
                transition: opacity 0.3s ease;
                position: relative;
                opacity: 0;
            }
    
            .cart-container:hover .cart-hide {
                opacity: 0;
            }
    
            .cart-container:hover .cart-hover-show {
                opacity: 1;
            }
    
    
    
    
            //for product info
            //rating-wishlist
            .product-info .rating-wishlist {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
    
                img.star-rating {
                    width: 115px;
                    height: auto;
                }
    
                img.wishlist-mobile {
                    display: none;
    
                    @media (max-width: 1024px) {
                        width: 40px;
                        display: block;
                    }
    
                    @media (max-width: 767px) {
                        width: 40px;
                        display: block;
                    }
                }
            }
    
            //price-cart
            .product-info .price-cart {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 10px;
    
                img.cart-mobile {
                    display: none;
    
                    @media (max-width: 1024px) {
                        width: 40px;
                        display: block;
                    }
    
                    @media (max-width: 767px) {
                        width: 40px;
                        display: block;
                    }
                }
            }

            .product-description {
                text-align: left;
                font-size: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: "RecklessNeue-Medium";
                color: #6B5B41;
    
                @media (max-width: 1024px) {
                    font-size: 14px;
                    padding-top: 0px;
                }
    
                @media (max-width: 767px) {
                    font-size: 15px;
                    padding-top: 0px;
                }
            }
    
            .product-price {
                font-size: 16px;
                font-family: "RecklessNeue-Medium";
                color: #6B5B41;
    
                @media (max-width: 1024px) {}
    
                @media (max-width: 767px) {
                    font-size: 21px;
                    padding-top: 0px;
                }
            }
        }
    }
}