#programme {
    .header-row {
        min-height: 30vh;
        @media (max-width: 575px) {
            min-height: 40vh;
        }

        .banner-background {
            background-image: url('/public/assets/web/assets/img/about-us/title-background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            .title {
                color: white;
                position: relative;
                left: 25%;
                top: 50%;
                transform: translateY(-50%);
                width: fit-content;
                @media (max-width: 767px) {
                    left: 60px;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
    
                .breadcrumb-item, .breadcrumb-item::before {
                    color: white;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                }
    
                .h2 {
                    margin-top: 24px;
                }
            }
        }

        .banner-img {
            object-fit: cover;
        }
    }

    .content-section {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('/public/assets/web/assets/img/about-us/background.png');
        background-repeat: no-repeat;
        background-position: bottom -200px left;
        background-size: 40%;
    
        @media (max-width: 991px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .content-wrapper {
            width: 80%;
            margin: auto;
            margin-bottom: 180px;
            @media (max-width: 1199px) {
                width: 90%;
            }
            @media (max-width: 991px) {
                margin-bottom: 140px;
            }

            .h4 {
                color: #004080;
                margin-bottom: 10px;
            }
            .h3 {
                color: #004080;
                margin-bottom: 40px;
            }
            .p2 {
                margin-bottom: 40px;
            }
            .h2 {
                color: #06B2D8;
            }
            .ul{
                .p2{
                    color: #000000;
                    margin-bottom: 5px;
                }
                margin-bottom: 40px;
            }
        }
    }
}