#forgot-password{
    min-height: 80vh;
    background-color: #FCFBF9;
    padding: 30px 0 180px 0;
    font-family: "RecklessNeue-Light";

    @media (max-width: 767px) {
        min-height: auto;
    }

    .mb-40{
        margin-bottom: 40px;
    }

    button{
        font-family: "BanglaSangam-Regular";
        letter-spacing: 1px;
        padding: 12px 0 8px 0;
        font-size: 13px;
    }


    .container{
        .forgot-password-wrapper{
            width:100%;
            max-width: 650px;
            .forgot-password-title{
                color:#6D5E44;
                font-size: 30px;
                text-align: center;
                margin-bottom: 40px;
            }
    
            .forgot-password-container{
                background-color: #F7F3EE;
                padding: 50px 70px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 767px) {
                    padding: 30px;
                }

                
                .input-container{
                    position: relative;

                    input[type=email],input[type=password]{
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #9A835E;
                        color:#6D5E44;
                        font-size: 15px;

                        &:focus{
                            outline: none;

                            ~ .placeholder-label{
                                top:0;
                                color:#9A835E;
                            }
                        }
                    }
    
                    .placeholder-label{
                        color:#C4B9A6;
                        font-size: 15px;
                        position: absolute;
                        top: 5px;
                        left: 0;
                        pointer-events: none;
                        transition: transform 0.3s ease-out;
                        transform-origin: 0 0;
                        padding-left:5px;
                    }
                }


                .email-desc{
                    text-decoration: none;
                    color: black;
                    font-size: 12px;
                    padding-left:5px;
                    padding-top: 5px;
                }

                .login-button{
                    margin-top: 40px;
                    background-color: #9A835E;
                    color: white;
                    width: 90%;
                    border: 1px solid #9A835E;

                    &:hover{
                        background-color: white;
                        color: #9A835E;
                    }
                    &:disabled{
                        background-color: #9A835E;
                        color: white; 
                    }
                }
            }
        }
    }


}

#reset-password{
    .input-container{
        &:not(:first-child){
            margin-top: 15px;
        }
    }
}